@model X.PagedList.IPagedList<WatchStore.Web.Models.Product>
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    Category c = ViewBag.category as Category;
}
<div class="section-content container">
    <div class="heading-section">
        <a href="" class="heading-content">Kết quả tìm kiếm</a>
    </div>
    <div style="display: flex; flex-wrap: wrap">
        <div class="col-md-3">
            <p style="width: 90%; border-bottom: 1px solid #000; font-size: 24px"><i class="fa-solid fa-sort"></i> Sắp xếp</p>
            @if (ViewBag.sort == "")
            {
                <div>
                    <a class="sort-btn active" id="sort-asc-btn" asp-action="Search" asp-route-page="@Model.PageNumber" asp-route-textSearch="@ViewBag.textSearch"><i class="fa-solid fa-square-xmark"></i> Loại bỏ sắp xếp</a>
                </div>
            }
            else
            {
                <div>
                    <a class="sort-btn" id="sort-asc-btn" asp-action="Search" asp-route-page="@Model.PageNumber" asp-route-textSearch="@ViewBag.textSearch"><i class="fa-solid fa-square-xmark"></i> Loại bỏ sắp xếp</a>
                </div>
            }
            @if (ViewBag.sort == "asc")
            {
                <div>
                    <a class="sort-btn active" id="sort-asc-btn" asp-action="Search" asp-route-sort="asc" asp-route-page="@Model.PageNumber" asp-route-textSearch="@ViewBag.textSearch"><i class="fa-solid fa-arrow-down-short-wide"></i> Giá thấp đến cao</a>
                </div>
            }
            else
            {
                <div>
                    <a class="sort-btn" id="sort-asc-btn" asp-action="Search" asp-route-sort="asc" asp-route-page="@Model.PageNumber" asp-route-textSearch="@ViewBag.textSearch"><i class="fa-solid fa-arrow-down-short-wide"></i> Giá thấp đến cao</a>
                </div>
            }
            @if (ViewBag.sort == "desc")
            {
                <div>
                    <a class="sort-btn active" id="sort-asc-btn" asp-action="Search" asp-route-sort="desc" asp-route-page="@Model.PageNumber" asp-route-textSearch="@ViewBag.textSearch"><i class="fa-solid fa-arrow-down-wide-short"></i> Giá cao đến đến</a>
                </div>
            }
            else
            {
                <div>
                    <a class="sort-btn" id="sort-asc-btn" asp-action="Search" asp-route-sort="desc" asp-route-page="@Model.PageNumber" asp-route-textSearch="@ViewBag.textSearch"><i class="fa-solid fa-arrow-down-wide-short"></i> Giá cao đến đến</a>
                </div>
            }


            @*<p style="width: 90%; border-bottom: 1px solid #000; font-size: 24px; margin-top: 16px"><i class="fa-solid fa-filter"></i> Lọc theo giá</p>
            <!--Không có lọc -->
            @if (ViewBag.filter == "" && ViewBag.sort == "")
            {
            <div>
            <a class="sort-btn active" id="sort-asc-btn" asp-action="GetProductByCategory" asp-route-page="@Model.PageNumber" asp-route-categoryId="@c.Id">Loại bỏ lọc giá</a>
            </div>
            }
            else if(ViewBag.filter == "" && ViewBag.sort != "")
            {
            <div>
            <a class="sort-btn active" id="sort-asc-btn" asp-route-sort="@ViewBag.sort" asp-action="GetProductByCategory" asp-route-page="@Model.PageNumber" asp-route-categoryId="@c.Id">Loại bỏ lọc giá</a>
            </div>
            }
            else
            {
            <div>
            <a class="sort-btn" id="sort-asc-btn" asp-route-sort="@ViewBag.sort" asp-action="GetProductByCategory" asp-route-page="@Model.PageNumber" asp-route-categoryId="@c.Id">Loại bỏ lọc giá</a>
            </div>
            }
            <!-- Lọc nhỏ hơn 3m -->
            @if (ViewBag.filter == "less3m" && ViewBag.sort == "")
            {
            <div>
            <a class="sort-btn active" id="sort-asc-btn" asp-route-filter="less3m" asp-action="GetProductByCategory" asp-route-page="@Model.PageNumber" asp-route-categoryId="@c.Id">Dưới 3 triệu</a>
            </div>
            }
            else if(ViewBag.filter == "less3m" && ViewBag.sort != "")
            {
            <div>
            <a class="sort-btn active" id="sort-asc-btn" asp-route-filter="less3m" asp-route-sort="@ViewBag.sort" asp-action="GetProductByCategory" asp-route-page="@Model.PageNumber" asp-route-categoryId="@c.Id">Dưới 3 triệu</a>
            </div>
            }
            else
            {
            <div>
            <a class="sort-btn" id="sort-asc-btn" asp-route-filter="less3m" asp-route-sort="@ViewBag.sort" asp-action="GetProductByCategory" asp-route-page="@Model.PageNumber" asp-route-categoryId="@c.Id">Dưới 3 triệup</a>
            </div>
            }*@


            @*<div>
            <div class="sort-btn" id="filter-3m-btn">Dưới 3 triệu</div>
            <div class="sort-btn" id="filter-3m-6m-btn">3-6 triệu</div>
            </div>
            <div>
            <div class="sort-btn" id="filter-6m-12m-btn">6-12 triệu</div>
            <div class="sort-btn" id="filter-12m-35m-btn">12-35 triệu</div>
            </div>
            <div>
            <div class="sort-btn" id="filter-12m-35m-btn">12-35 triệu</div>
            <div class="sort-btn" id="filter-35m-100m-btn">35-100 triệu</div>
            </div>
            <div>
            <div class="sort-btn" id="filter-100m-300m-btn">100-300 triệu</div>
            <div class="sort-btn" id="filter-300m-btn">hơn 300 triệu</div>
            </div>*@
        </div>
        @if (Model.Count > 0)
        {
            <div id="sort-products" class="list-product col-md-9 col-sm-12">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        var srcImg = "/contents/nophoto.png";
                        if (item.ProductImages.Any())
                        {
                            srcImg = $"/contents/Products/{item.ProductImages?.FirstOrDefault().FileName}";
                        }
                        <div class="col-sm-6 col-lg-4">
                            <div class="product-item new-arrival-item">
                                <a href="#">
                                    <div class="new-arrival-img">
                                        <img src="@srcImg" alt="">
                                    </div>
                                    <div class="new-arrival-info">
                                        <h1 class="new-arrival-brand">@item?.Category.Name</h1>
                                        <h1 class="new-arrival-name">@item?.ProductName</h1>
                                        <p class="new-arrival-price">@item?.Price.ToString("N0")</p>
                                        <div class="details-product animate__animated animate__fadeInUp">
                                            <a asp-controller="ViewProduct" asp-action="Index" asp-route-id="@item?.Id">CHI TIẾT</a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    }
                </div>
                <div>
                    @Html.PagedListPager(Model, page => Url.Action("Search", new {page = page, textSearch = ViewBag.textSearch, sort=ViewBag.sort}), new PagedListRenderOptions()
                {
                ActiveLiElementClass = "active",
                PageClasses = new[]{ "page-link"},
                LiElementClasses=new[] { "page-item"},
                UlElementClasses = new[] { "pagination","justify-content-center", "mt-3", "size" },
                LinkToNextPageFormat = "Sau",
                LinkToPreviousPageFormat = "Trước",
                MaximumPageNumbersToDisplay = 5,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                DisplayLinkToNextPage = PagedListDisplayMode.Always
                })
                </div>
            </div>
        }
        else
        {
            <div id="sort-products" class="list-product col-md-9 col-sm-12">
                <h1 style="font-size: 24px; color: red; text-align: center">Không có sản phẩm nào phù hợp !!!</h1>
            </div>
        }
    </div>
</div>
