@model X.PagedList.IPagedList<WatchStore.Web.Models.Product>
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
<div class="section-content container">
    <div class="heading-section">
        <a href="" class="heading-content">TẤT CẢ SẢN PHẨM</a>
    </div>
    <div style="display: flex; flex-wrap: wrap">
        <div class="col-md-3">
            <p style="width: 90%; border-bottom: 1px solid #000; font-size: 24px"><i class="fa-solid fa-sort"></i> Sắp xếp</p>
            @if (ViewBag.sort == "")
            {
                <div>
                    <a class="sort-btn active" id="sort-asc-btn" asp-action="ViewAllProduct" asp-route-page="@Model.PageNumber"><i class="fa-solid fa-square-xmark"></i> Loại bỏ sắp xếp</a>
                </div>
            }
            else
            {
                <div>
                    <a class="sort-btn" id="sort-asc-btn" asp-action="ViewAllProduct" asp-route-page="@Model.PageNumber"><i class="fa-solid fa-square-xmark"></i> Loại bỏ sắp xếp</a>
                </div>
            }
            @if (ViewBag.sort == "asc")
            {
                <div>
                    <a class="sort-btn active" id="sort-asc-btn" asp-action="ViewAllProduct" asp-route-sort="asc" asp-route-page="@Model.PageNumber"><i class="fa-solid fa-arrow-down-short-wide"></i> Giá thấp đến cao</a>
                </div>
            }
            else
            {
                <div>
                    <a class="sort-btn" id="sort-asc-btn" asp-action="ViewAllProduct" asp-route-sort="asc" asp-route-page="@Model.PageNumber"><i class="fa-solid fa-arrow-down-short-wide"></i> Giá thấp đến cao</a>
                </div>
            }
            @if (ViewBag.sort == "desc")
            {
                <div>
                    <a class="sort-btn active" id="sort-asc-btn" asp-action="ViewAllProduct" asp-route-sort="desc" asp-route-page="@Model.PageNumber"><i class="fa-solid fa-arrow-down-wide-short"></i> Giá cao đến đến</a>
                </div>
            }
            else
            {
                <div>
                    <a class="sort-btn" id="sort-asc-btn" asp-action="ViewAllProduct" asp-route-sort="desc" asp-route-page="@Model.PageNumber"><i class="fa-solid fa-arrow-down-wide-short"></i> Giá cao đến đến</a>
                </div>
            }
        </div>
        <div id="sort-products" class="list-product col-md-9 col-sm-12">
            <div class="row">
                @foreach (var item in Model)
                {
                    var srcImg = "/contents/nophoto.png";
                    if (item.ProductImages.Any())
                    {
                        srcImg = $"/contents/Products/{item.ProductImages?.FirstOrDefault().FileName}";
                    }
                    <div class="col-sm-6 col-lg-4">
                        <div class="product-item new-arrival-item">
                            <a href="#">
                                <div class="new-arrival-img">
                                    <img src="@srcImg" alt="">
                                </div>
                                <div class="new-arrival-info">
                                    <h1 class="new-arrival-brand">@item?.Category.Name</h1>
                                    <h1 class="new-arrival-name">@item?.ProductName</h1>
                                    <p class="new-arrival-price">@item?.Price.ToString("N0")<sup>đ</sup></p>
                                    <div class="details-product animate__animated animate__fadeInUp">
                                        <a asp-controller="ViewProduct" asp-action="Index" asp-route-id="@item?.Id">CHI TIẾT</a>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
            <div>
                @Html.PagedListPager(Model, page => Url.Action("ViewAllProduct", new {page = page, sort=ViewBag.sort}), new PagedListRenderOptions()
                {
                ActiveLiElementClass = "active",
                PageClasses = new[]{ "page-link"},
                LiElementClasses=new[] { "page-item"},
                UlElementClasses = new[] { "pagination","justify-content-center", "mt-3", "size" },
                LinkToNextPageFormat = "Sau",
                LinkToPreviousPageFormat = "Trước",
                MaximumPageNumbersToDisplay = 5,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                DisplayLinkToNextPage = PagedListDisplayMode.Always
                })
            </div>
        </div>
    </div>
</div>
